.dark{
    background-color: black;
    
}
body{
    height:100vh;
    background-color: #242424; 
    color:white;
}


.nav-link{
    color:white!important;
}

.navbar-collapse{
    flex-grow: unset;
}
.myimg img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 10px solid white;
}
.myimg{

    display: flex;
    
    align-items: center;
}
.mydesc{
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.myslid{
    height: 100vh;
}
.gradient-custom {
/* fallback for old browsers */
background: #f6d365;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}